.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FF69B4; /* Pink background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-section, .donation-section, .recurring-donations-section {
    margin-bottom: 20px;
  }
  
  .profile-info {
    background-color: #d77676; 
    padding: 10px;
    border-radius: 5px;
  }
  
  .donation-list, .recurring-donations-list {
    list-style: none;
    padding: 0;
  }
  
  .donation-list li, .recurring-donations-list li {
    background-color: #ea7d7d; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

