body {
    font-family: Arial, sans-serif;
    background-color: #fde7e9; /* Light pink */
    color: #4a4a4a; /* Dark gray */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #ff6f61; /* Coral pink */
}

.story {
    margin-top: 20px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: transform 0.2s;

}

.story-image {
    width: 100%;
    border-radius: 5px;
}

.story-text {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: #ff6f61; /* Coral pink */
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff6f61; /* Coral pink */
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #ff6f61; /* Coral pink */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff5246; /* Lighter Coral pink */
}

#message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

#message.success {
    background-color: #b3ffb3; /* Pale green */
    color: #006600; /* Dark green */
}

#message.error {
    background-color: #ffb3b3; /* Light pink */
    color: #cc0000; /* Dark red */
}

#card-element {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ff6f61; /* Coral pink */
    border-radius: 5px;
}
